@media screen and (max-width: 1000px) {
    #desktop-nav{
        display:none;
    }
    #ham-nav{
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    
    #profile{
        height: 86vh;
        margin-bottom: 6rem;
    }
    
    .about-container{
        flex-wrap: wrap;
    }

    #contact,
    #projects{
        height: fit-content;
    }

    #experience,
    .experience-details-container{
        margin-top: 2rem;
    }

    #profile,
    .section-container{
        display: block;
    }

    .arrow{
        display: none;
    }

    section,
    .section-container{
        height: fit-content;
    }

    section{
        margin: 0 5%;
    }

    .section__pic-container,
    img.about-pic{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px){
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    
    article {
        font-size: 1rem;
    }
    
    #contact,
    footer{
        height: 40vh;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }

    .contact-info-upper-container{
        justify-content: start;
        width: 80vw;
    }

    .contact-info-container {
        margin: 0.5rem;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container,
    img.about-pic {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}
