/* General */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800;1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", "sans-serif";
}

html {
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

a,
.btn {
    transition: all 300ms ease;
}

/* DESTKTOP NAV */

nav,
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 16vh;
}

.nav-links{
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;
}

a{
    font-weight: 100;
    text-decoration: none;
    color:black;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-decoration-color: rgb(181,181,181);
    text-underline-offset: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: 400;
}

.logo:hover{
    cursor: default;
}

/* Hamburger Menu */

#ham-nav{
    display: none;
}

.ham-menu{
    display: inline-block;
    position: relative;
}

.ham-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.ham-icon span{
    background-color: black;
    height: 2px;
    width: 100%;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    top: 100%;
    right: 0;
    position: absolute;
    max-height: 0;
    width: fit-content;
    overflow: hidden;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.ham-icon.open span:first-child{
        transform: rotate(45deg) translate(10px,5px);
}
.ham-icon.open span:nth-child(2){
    opacity: 0;
}
.ham-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}
.ham-icon span:first-child{
    transform:none;
}
.ham-icon span:first-child{
    opacity: 1;
}
.ham-icon span:first-child{
    transform: none;
}

/* Section */

section{
    padding-top: 4vh;
    min-height: 500px;
    margin: 0 10rem;
    box-sizing: border-box;
}

.section-container{
    display:flex;
}


/*Profile */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    display: flex;
    margin: auto 0;

}

img.profile_pic{
    border-radius: 40%;
    background: rgb(240,240,240);
}


.section-text{
    align-self: center;
    text-align: center;
}

.section-text p{
    font-weight: 400;
}

.section_text_p1{
    font-size: 1.5rem;
    text-align: center;
}

.section_text_p2{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.title{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

/* ICONS */
.socials-container{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    gap: 1rem;
}

.icon{
    height: 2rem;
}
.button{
    cursor: pointer;
}

/* BUTTONS */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;  
}

.btn{
    font-weight: 400;
    border-radius: 2rem;
    padding: 1rem;
    width: 9.7rem;
}

.btn-color-1,
.btn-color-2{
    border: rgb(53,53,53) 0.1rem solid ;
}

.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;    
}

.btn-color-1,
.btn-color-2:hover{
    background: rgb(53,53,53);
    color: white;
}

.btn-color-1:hover{
    background: black;
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: rgb(255,255,255) 0.1rem solid;
}

/* ABOUT */

#about{
    position: relative;
}


.about-container{
    margin-bottom: 2rem;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;

}

img.about-pic{
    border-radius: 1rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-details-container,
.about-container{
    display: flex;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.details-container h3, p, .logo{
    padding: .25rem;
}

.section-container{
    align-items: center;
    display: flex;
    gap: 4rem;
    height: 80%;
}

img.about-pic{
    height: 400px;
    width: 400px;
    border-radius: 20%;
}



.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  cursor: pointer;
}

/* EXPERIENCE */

#experience{
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}


article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* Projects */

#projects{
    position: relative;
}

.project-img{
    height: 90%;
    width: 90%;
    border-radius: 2rem;
}

.project-title{
    margin: 1rem;
    color: black;
}

.project-btn {
    width: 8rem;
    color: black;
    border-color: rgb(163, 163, 163);
}

.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}


/* contact */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    min-height: 0;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    margin: 2rem auto;
    padding: 0.5rem;
    width: fit-content;
}

.contact-info-container{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.7rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
    font-weight: 600;
  }
  
.contact-icon {
    cursor: default;
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }

.link_text1{
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
  }

.link_text1:hover{
    list-style: none;
    text-decoration: none;
}

.no-mouse{
    cursor:default;
}
